In [164]:
import pandas as pd
import numpy as np
import os
import mysql.connector
from pandas import DataFrame

In [165]:
os.chdir('/Users/arvind/Documents/Work/Zoho WorkDrive (Educational Initiatives Private Limited)/My Folders/Projects/SALT/Dashboards')

In [166]:
mydb = mysql.connector.connect(
  host="13.235.20.79",
  user="bhrseluser",
  password="bhrsel2014"
)

/opt/anaconda3/lib/python3.9/site-packages/mysql/connector/abstracts.py:130: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if group is 'connector_python':
/opt/anaconda3/lib/python3.9/site-packages/mysql/connector/abstracts.py:130: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if group is 'connector_python':

InterfaceError: 2003: Can't connect to MySQL server on '13.235.20.79:3306' (60 Operation timed out)

In [99]:
listfiles_hindi = [293, 303, 304]
listfiles_eng = [305, 306, 307, 308, 309, 310, 311, 312]

In [152]:
def addColumns_English(data,x):
    if x - len(data.columns) == 10:
        data = data.assign(NQ16=88,NQ17=88,NQ18=88,NQ19=88,NQ20=88\
                           ,Score_NQ16=0,Score_NQ17=0,Score_NQ18=0,Score_NQ19=0,Score_NQ20=0)
        return data
    elif x - len(data.columns) == 8:
        data = data.assign(NQ17=88,NQ18=88,NQ19=88,NQ20=88\
                           ,Score_NQ17=0,Score_NQ18=0,Score_NQ19=0,Score_NQ20=0)
        return data
    elif x - len(data.columns) == 6:
        data = data.assign(NQ18=88,NQ19=88,NQ20=88\
                           ,Score_NQ18=0,Score_NQ19=0,Score_NQ20=0)
        return data
    elif x - len(data.columns) == 4:
        data = data.assign(NQ19=88,NQ20=88\
                           ,Score_NQ19=0,Score_NQ20=0)
        return data
    elif x - len(data.columns) == 2:
        data = data.assign(NQ20=88,Score_NQ20=0)
        return data
    else:
        return data

In [153]:
def addColumns_Hindi(data,x):
    if x - len(data.columns) == 10:
        data = data.assign(LQ16=88,LQ17=88,LQ18=88,LQ19=88,LQ20=88\
                           ,Score_LQ16=0,Score_LQ17=0,Score_LQ18=0,Score_LQ19=0,Score_LQ20=0)
        return data
    elif x - len(data.columns) == 8:
        data = data.assign(LQ17=88,LQ18=88,LQ19=88,LQ20=88\
                           ,Score_LQ17=0,Score_LQ18=0,Score_LQ19=0,Score_LQ20=0)
        return data
    elif x - len(data.columns) == 6:
        data = data.assign(LQ18=88,LQ19=88,LQ20=88\
                           ,Score_LQ18=0,Score_LQ19=0,Score_LQ20=0)
        return data
    elif x - len(data.columns) == 4:
        data = data.assign(LQ19=88,LQ20=88\
                           ,Score_LQ19=0,Score_LQ20=0)
        return data
    elif x - len(data.columns) == 2:
        data = data.assign(LQ20=88,Score_LQ20=0)
        return data
    else:
        return data

In [76]:
#Simplified code to add columns
def addColumns(data,x,y):
    for i in (x - len(data.columns))/2:
        c1=f"{y}Q{i}"
        c2=f"Score_{y}Q{i}"
        data = data.assign(c1=88,c2=0)
    return data

In [141]:
df = pd.DataFrame()

In [142]:
for file in listfiles_hindi:
    sql = f"select * from educatio_lis.dp_assessment_{file}"
    dft = pd.read_sql(sql, mydb)
    dft = addColumns_Hindi(dft,57)
    df = pd.concat([df,dft])

/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [144]:
df.to_pickle('./CBAScoredFiles/hindi.pkl')

In [154]:
df = pd.DataFrame()

In [155]:
for file in listfiles_eng:
    sql = f"select * from educatio_lis.dp_assessment_{file}"
    dft = pd.read_sql(sql, mydb)
    dft = addColumns_English(dft,57)
    df = pd.concat([df,dft])

/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [158]:
df['class'].unique()

array([1, 2, 3, 4, 5, 7, 6, 8])

In [159]:
df.to_pickle('./CBAScoredFiles/eng.pkl')

In [163]:
df = DataFrame()