In [164]:
import pandas as pd
import numpy as np
import os
import mysql.connector
from pandas import DataFrame

In [165]:
os.chdir('/Users/arvind/Documents/Work/Zoho WorkDrive (Educational Initiatives Private Limited)/My Folders/Projects/SALT/Dashboards')

In [166]:
mydb = mysql.connector.connect(
  host="13.235.20.79",
  user="bhrseluser",
  password="bhrsel2014"
)

/opt/anaconda3/lib/python3.9/site-packages/mysql/connector/abstracts.py:130: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if group is 'connector_python':
/opt/anaconda3/lib/python3.9/site-packages/mysql/connector/abstracts.py:130: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if group is 'connector_python':

InterfaceError: 2003: Can't connect to MySQL server on '13.235.20.79:3306' (60 Operation timed out)

In [ ]:
    sql = f"select * from educatio_lis.dp_assessment_{file}"
    dft = pd.read_sql(sql, mydb)

In [ ]:
dft.to_csv('./g1.csv')